.departments-wrapper {
width: 95vw;
max-width: 95vw;
font-family: "Segoe UI", sans-serif;
}

.departments-wrapper h2 {
  font-size: 28px;
  margin-bottom: 6px;
}

.subtitle {
  color: #666;
  margin-bottom: 24px;
}

.search-box {
  width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 32px;
}

/* GRID */
.departments-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 100px;
  row-gap: 40px;
}

/* CARD */
.department-card {
  background: linear-gradient(135deg, #e3f2fd, #ffffff);
  border-radius: 20px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.department-card:hover {
  transform: translateY(-6px);
}

.department-card img {
  width: 80px;
  margin-bottom: 14px;
}

.department-card h3 {
  color: #1976d2;
  margin-bottom: 10px;
}

.dept-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  color: #333;
  font-size: 14px;
}

/* BUTTON */
.visit-btn {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: #1976d2;
  color: white;
  font-weight: 600;
  cursor: pointer;
  /* transition: background 0.2s ease; */
}

.visit-btn:hover {
  background: #125ea8;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .departments-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .departments-grid {
    grid-template-columns: 1fr;
  }
}